:root{
    /* Size */
    --padding: 12px;
    --avatar-size: 90px;
}
 
body {
    background-color: dimgray;
}
 
 #container div {
    width:600px;    /* 컨테이너의 너비 */
    border:none;    /* 테두리 없앰 */
    margin:0 auto;   /* 화면 중앙에 배치 */

    border:1px dotted #222;  /* 테두리 */
    padding:20px;  /* 패딩 */
    margin:20px;  /* 마진 */
  }

  .logo {
    width:var(--avatar-size);
    height: var(--avatar-size);
  }

